.que.webwork_opaque .formulation {
    padding: 0;
    background: transparent;
}

.que .im-controls {
    margin: 0;
}

.que .im-controls .opaqueerror {
    color: #800;
    padding: 7em 1em;
    background: #eee;
}

.que.webwork_opaque .question_aborted {
    padding: 7em 1em;
    text-align: center;
    background: #eee;
}

/* Override some unwanted bootstrap CSS that happens to match the OpanMark HTML structure. */
.que.webwork_opaque .radio,
.que.webwork_opaque .checkbox {
    min-height: 0;
}
.que.webwork_opaque .radio input[type="radio"],
.que.webwork_opaque .checkbox input[type="checkbox"] {
    float: none;
    margin: 0 4px 0 0;
}
.que.webwork_opaque input[type="text"] {
    padding: 2px;
    height: 28px;
}
.que.webwork_opaque select{
    font-size:1rem;
}
    
.alert-danger {
    color: #000000;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


/* Prevent firefox on window is not showing outline when using .focus(). */
body.gecko .que.webwork_opaque input.questionflagimage:focus {
    outline: 1px dotted;
}

.section-li {list-style: none}          
.section-li > div {padding:0 .5em;}     
.section-li > h3 > .ui-icon {
  display: inline-block;                
  margin: 3px 1px;                     
  vertical-align: -5px;
}

.canshow   {background:yellow;}
.iscorrect {background:lightgreen;}

/*.cannotshow {background:#e66; }*/
/*.iswrong {background-color:red;}*/
/*.notanswered {}*/
/*.isclosed{ {background-color: #000; display:none;}*/
